.add-transaction-container {
  margin: 0 auto;
  padding: 1em;
  width: 57em;
  max-width: 70vw;
  overflow-y: auto;

  @media screen and (max-width: 768px) {
    max-width: 76vw;
  }
}

.add-transaction-header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

@mixin transaction-button {
  margin: 1.3em auto 1em;
  font-size: 1.1rem;

  @media screen and (max-width: 599px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 375px) {
    font-size: 0.9rem;
  }
}

.add-transaction-form {
  display: flex;
  flex-direction: column;

  & > button {
    @include transaction-button();
    width: 210px;
  }

  &.edit-cash-form > button {
    @include transaction-button();
    width: 250px;
  }

  @media screen and (max-width: 599px) {
    & > button {
      width: 190px;
    }

    &.edit-cash-form > button {
      width: 228px;
    }
  }

  @media screen and (max-width: 375px) {
    & > button {
      width: 180px;
    }

    &.edit-cash-form > button {
      font-size: 0.8rem;
      width: 200px;
    }
  }
}

.refer-cash-container {
  margin-bottom: 0.7em;
  font-size: 1.2rem;
  color: #4a4a4a;

  & > label,
  & > label > input {
    cursor: pointer;
  }

  @media screen and (max-width: 599px) {
    font-size: 1rem;
  }
}

.ticker-container {
  position: relative;
}

.transaction-type-container {
  margin-bottom: 1.8em;
  display: flex;
  flex-wrap: wrap;

  & > .type-container-title {
    width: 100%;
    color: #4a4a4a;
    font-size: 1.2rem;
  }

  & > label:not(:last-child) {
    margin-right: 1em;
  }

  & > label > input[type='radio'] {
    display: none;
    position: absolute;
    margin: 0;
    top: 3px;

    & + .radio-box {
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: 3px;
      padding: 0.4em 1em;
      color: #4a4a4a;
      border: 1px solid #aab5d1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8em;
      margin-top: 0.5em;

      & > svg {
        width: 22px;
        height: 22px;
        margin-right: 0.3em;
      }
    }

    &[value='buy']:checked + .radio-box,
    &[value='deposit']:checked + .radio-box,
    &[value='dividend']:checked + .radio-box,
    &[value='sold']:checked + .radio-box {
      background-color: lighten($main-color, 30%);
      color: darken($main-color, 20%);
      border: 1px solid $main-color;
    }

    &[value='sell']:checked + .radio-box,
    &[value='withdraw']:checked + .radio-box,
    &[value='purchased']:checked + .radio-box {
      background-color: lighten($danger, 30%);
      color: darken($danger, 20%);
      border: 1px solid $danger;
    }
  }

  /* stock transaction radio buttons*/
  & > label:first-child > input[type='radio'] {
    left: 36px;
  }

  & > label:last-child > input[type='radio'] {
    left: 42px;
  }

  /* cash transaction radio buttons */
  & > label:nth-child(1) > input[type='radio'].transaction-type-cash {
    left: 60px;
  }

  & > label:nth-child(2) > input[type='radio'].transaction-type-cash {
    left: 78px;
  }

  & > label:nth-child(3) > input[type='radio'].transaction-type-cash {
    left: 69px;
  }

  & > label:nth-child(4) > input[type='radio'].transaction-type-cash {
    left: 81px;
  }

  & > label:nth-child(5) > input[type='radio'].transaction-type-cash {
    left: 37px;
  }

  @media screen and (max-width: 599px) {
    .type-container-title {
      font-size: 1.1rem;
    }

    & > .add-transaction-label + label {
      margin-top: 0.5em;
      margin-left: 0;
    }

    & > label > input[type='radio'] + .radio-box {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 460px) {
    &.cash-type-container > label:not(:last-child) {
      margin-right: 5em;
    }
  }

  @media screen and (max-width: 375px) {
    .type-container-title {
      font-size: 1rem;
    }

    & > label > input[type='radio'] + .radio-box {
      font-size: 0.9rem;
      padding: 0.4em 0.8em;

      & > svg {
        width: 18px;
        height: 18px;
        margin-right: 0.2em;
      }
    }
  }
}

.auto-complete-field-wrapper {
  position: relative;
  width: 70%;

  & > input {
    width: 100%;
  }

  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

.add-transaction-label {
  margin: 1em 0;
  font-size: 1.2rem;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 600px) and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 599px) {
    margin: 0.6em 0;
    font-size: 1.1rem;
    flex-direction: column;
    align-items: initial;
  }

  @media screen and (max-width: 375px) {
    font-size: 1rem;
  }
}

.add-transaction-field {
  width: 70%;
  font-size: 1.3rem;
  padding: 0.4em;
  outline: none;
  border-radius: 0.2rem;
  transition: all 100ms ease;
  background-color: #fff;
  border: 1px solid #aab5d1;

  &:focus {
    box-shadow: 0 0 0 1px $form-focus;
    border: 1px solid $form-focus;
    background-color: #f4f9ff;
  }

  &:disabled {
    background-color: $dark-gray;
    color: $light-dark;
    font-size: 1.3rem;
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {
    font-size: 1.2rem;

    &:disabled {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 599px) {
    font-size: 1.1rem;
    width: 100%;
    margin-top: 0.2em;

    &:disabled {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 375px) {
    font-size: 1rem;

    &:disabled {
      font-size: 1rem;
    }
  }
}

.add-transaction-date-field {
  border: 1px solid #aab5d1;
  border-radius: 0.2rem;
  outline: none;
  padding: 0.4em;
  font-size: 1.3rem;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 1px $form-focus;
    border: 1px solid $form-focus;
    background-color: #eaecf5;
    // background-color: #f4f9ff;
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 376px) and (max-width: 599px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 375px) {
    font-size: 1rem;
  }
}

/* company name auto complete */
.auto-complete-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid $blue-white;
  padding: 5px;
  max-height: 420px;
  overflow-y: scroll;
  top: 43px;
}

.auto-complete__ticker {
  display: flex;
  align-items: center;
}

.auto-complete__stock-logo {
  display: inline-block;
  margin-left: 0.2em;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #cfd9e6;
  border-radius: 5%;
}

.auto-complete-item {
  background-color: $white;
  font-size: 1.1rem;
  color: $black;
  border-radius: 0.2em;
  margin: 0.9em 0;
  padding: 0.5em;
  width: 98%;
  box-shadow: 0 0 7px 0 $light-gray;
  transition: all 0.2s;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.auto-complete-item:hover {
  transform: translateY(-3px) scale(1.01);
  color: #018def;
}

.auto-complete-item-exchange {
  font-size: 0.8rem;
  margin-top: 0.5em;
  color: #4f575f;

  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    margin-top: 0.5em;
  }
}

.match-words {
  color: $main-color;
  font-weight: 700;
  font-size: 1.3rem;

  @media screen and (max-width: 599px) {
    font-size: 1.1rem;
  }
}
