.alert-container {
  display: flex;
  justify-content: center;
  margin: 1.2em 0 0.5em;
}

.alert {
  padding: 1em;
  text-align: center;
  width: 70%;
  max-width: 750px;
  border-left: 0.5em solid #bababa;
  border-radius: 0.2em;
  font-size: 1.2rem;
  font-weight: 700;
}

.alert--success {
  border-color: #2ed573;
  background: #c3f3d7;
  color: $success;
}

.alert--warning {
  border-color: #ffa502;
  background: #ffdb9b;
  color: $warning;
}

.alert--error {
  border-color: #ff4757;
  background: #ffe0e3;
  color: #ff4757;
}

.alert--normal {
  border-color: #333;
  background: #d6d6d6;
  color: darken($dark-gray, 10%);
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .alert {
    width: 70%;
    padding: 0.9em;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 500px) {
  .alert {
    width: 80%;
    padding: 0.9em;
    font-size: 1rem;
  }
}
