.auth__form-container {
  padding: 3em 2em 1em 2em;
  margin: 1em auto 5em;
  width: 90%;
  max-width: $max-width * 0.55;
  min-height: 100vh;

  /* title */
  & > h1 {
    margin: 0;
    font-size: 3.4rem;
    color: $main-color;

    @media screen and (min-width: 451px) and (max-width: 768px) {
      font-size: 2.8rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 2.3rem;
    }
  }

  /* subtitle */
  & > p {
    margin-left: 0.2em;
    font-size: 1.5rem;

    @media screen and (min-width: 451px) and (max-width: 768px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }
}

.auth__signup-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;

  & .auth__form-group {
    width: 49%;
  }
}

.auth__form {
  margin-top: 6em;
  width: 100%;

  & small {
    display: block;
    font-size: 0.95rem;
    margin-top: 0.25em;
    margin-left: 0.15em;
  }

  @media screen and (max-width: 600px) {
    margin-top: 4em;

    & small {
      font-size: 0.9rem;
    }
  }
}

.auth__form-group {
  position: relative;

  @media screen and (max-width: 450px) {
    & > button {
      font-size: 1.1rem;
    }
  }
}

.auth__form > .auth__form-group + .auth__form-group {
  margin-top: 4em;
}

@mixin auth__form-label {
  position: absolute;
  top: -29px;
  left: 3px;
  font-size: 1.2rem;

  @media screen and (max-width: 768px) {
    top: -26px;
    left: 2px;
    font-size: 1.1rem;
  }
}

.auth__form-label {
  @include auth__form-label();
}

.auth__form-label--error {
  @include auth__form-label();
  color: $danger;
}

@mixin auth__form-field {
  font-size: 1.3rem;
  padding: 10px;
  width: 100%;
  border: 1px solid $light-gray;
  outline: none;
  border-radius: 0.15em;
  transition: all 0.2s ease;

  &:focus {
    box-shadow: 0 0 0 2px $form-focus;
    background-color: #f4f9ff;
    border: 1px solid transparent;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.1rem;
  }
}

.auth__form-field {
  @include auth__form-field();
}

.auth__form-field--error {
  @include auth__form-field();
  box-shadow: 0 0 0 2px $danger;
  border: 1px solid transparent;
}

.auth__checkbox-container {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin: 1.5em 0 1em;

  & > input[type='checkbox'] {
    margin-left: 0.2em;
  }

  @media screen and (min-width: 601px) and (max-width: 968px) {
    margin-top: 1.8em;
  }

  @media screen and (max-width: 600px) {
    margin-top: 2em;
  }
}

.auth__footer {
  margin-top: 1.4em;
  font-size: 1.1rem;
  max-width: 17em;

  & > a {
    color: $main-color;
    transition: all 100ms ease;
    display: inline-block;
    width: 4em;
  }

  & > a:hover {
    color: $dark-gray;
  }

  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}

.auth__dup-err {
  color: $danger;
}
