.button {
  padding: 0.5em;
  font-size: 1.3rem;
  border-radius: 0.3em;
  border: none;
  width: 100%;
  box-shadow: 1px 1px 4px $black;
  cursor: pointer;
}

.button:disabled {
  background: linear-gradient($dark-gray, darken($dark-gray, 10%));
  cursor: not-allowed;

  &:hover {
    background: darken($dark-gray, 10%);
  }
}

.button--default {
  background: linear-gradient($main-color, #15a559);
  color: $white;

  &:hover {
    background: darken($main-color, 8%);
  }
}

.button--white {
  background: linear-gradient($white, #dadada);

  &:hover {
    background: darken($white, 15%);
  }
}

.button--warning {
  background: linear-gradient($orange, #d25f1d);
  color: $white;

  &:hover {
    background: darken($orange, 13%);
  }
}

.button--danger {
  background: linear-gradient($danger, #b92534);
  color: $white;

  &:hover {
    background: darken($danger, 13%);
  }
}

.button--light-gray {
  background: linear-gradient($light-gray, #b1b1b1);

  &:hover {
    background: darken($light-gray, 13%);
  }
}
