.button {
  padding: 0.5em;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.button:disabled {
  background: linear-gradient($dark-gray, darken($dark-gray, 10%));
  cursor: not-allowed;

  &:hover {
    background: darken($dark-gray, 10%);
  }
}

.button--default {
  background: #38a86f;
  color: $white;

  &:hover {
    background: darken(#38a86f, 5%);
  }
}

.button--primary {
  background: #3389ca;
  color: $white;

  &:hover {
    background: darken(#3389ca, 5%);
  }
}

.button--white {
  background: $white;

  &:hover {
    background: darken($white, 5%);
  }
}

.button--warning {
  background: #dc8042;
  color: $white;

  &:hover {
    background: darken(#dc8042, 5%);
  }
}

.button--danger {
  background: #d03e4b;
  color: $white;

  &:hover {
    background: darken(#d03e4b, 5%);
  }
}

.button--light-gray {
  background: linear-gradient($light-gray, #b1b1b1);

  &:hover {
    background: darken($light-gray, 13%);
  }
}