.button {
  padding: 0.5em;
  font-size: 1.3rem;
  border-radius: 0.3em;
  border: none;
  width: 100%;
  box-shadow: 1px 1px 4px $black;
  cursor: pointer;
}

.button:disabled {
  background: linear-gradient($dark-gray, darken($dark-gray, 10%));
  cursor: not-allowed;

  &:hover {
    background: darken($dark-gray, 10%);
  }
}

.button--default {
  background: linear-gradient($main-color, #15a559);
  color: $white;
}

.button--default:hover {
  background: darken($main-color, 8%);
}

.button--white {
  background: linear-gradient($white, #dadada);
}

.button--white:hover {
  background: darken($white, 15%);
}
