.cash-main {
  @include main-page();
  margin: 0 auto;

  & > button {
    font-size: 1.4rem;
    width: 15em;
    margin: 0 auto;
  }

  @media screen and (min-width: 551px) and (max-width: 768px) {
    & > button {
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 426px) and (max-width: 550px) {
    & > button {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 425px) {
    & > button {
      font-size: 1rem;
      width: 11em;
    }
  }
}

.cash-total-amount {
  display: flex;
  font-size: 1.2rem;
  background-color: $card-bg-color;
  box-shadow: 2px 3px 3px $dark-gray;
  border-radius: $card-border-radius;
  margin: 2em auto;
  padding: 0 1em;
  width: 460px;
  height: 52px;
  max-width: 600px;
  color: $blue-black;
  align-items: center;
  justify-content: flex-start;

  & > span:first-child {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  & > span:last-child {
    display: inline-block;
    max-width: 263px;
    overflow-wrap: anywhere;
  }

  @media screen and (min-width: 571px) and (max-width: 768px) {
    font-size: 1.1rem;
    width: 370px;
    height: 48px;

    & > span:last-child {
      max-width: 188px;
    }
  }

  @media screen and (min-width: 451px) and (max-width: 570px) {
    font-size: 1rem;
    width: 310px;
    height: 45px;

    & > span:last-child {
      max-width: 145px;
    }
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
    width: 270px;
    height: 42px;
  }
}

.cash-total-amount-crossbar {
  width: 1px;
  height: 100%;
  border-left: 1px solid #dbdbdb;
  margin: 0 1em;
}

.cash-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  max-width: $max-width * 0.55;
  margin: 1em auto;

  & > button {
    width: 230px;
  }

  @media screen and (max-width: 570px) {
    justify-content: center;
    margin: 1em auto 3em;

    & > button {
      font-size: 0.9rem;
      width: 215px;
    }
  }

  @media screen and (max-width: 375px) {
    & > button {
      font-size: 0.8rem;
      width: 200px;
      padding-top: 0.7em;
    }
  }
}

.cash-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0.5em auto 3em;
  padding: 3.5em 1.3em 2em;
  width: 80vw;
  max-height: 450px;
  max-width: $max-width * 0.55;
  background-color: $card-bg-color;
  color: #202425;
  border-radius: $card-border-radius;
  box-shadow: 2px 3px 3px #a7a7a7;
}

.cash-items__header {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: $card-border-radius;
  top: -13px;
  left: 25px;
  color: $white;
  padding: 0.4em 0.7em;
  background: linear-gradient(60deg, #767787, #5e5f6b);
  box-shadow: 0 12px 20px -10px rgba(106, 107, 121, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(106, 107, 121, 0.2);

  @media screen and (max-width: 570px) {
    font-size: 1.1rem;
    left: initial;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.cash-table-wrapper {
  width: 100%;
  overflow: auto;
  max-height: 362px;
  margin-top: 0.7em;
}

.cash-table {
  background-color: inherit;
  width: 100%;
  border-collapse: collapse;

  & > thead > tr > th {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2em 0.2em 0.7em;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3b434c;
    position: sticky;
    top: 0px;
    background-color: $card-bg-color;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    & > thead > tr > th {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    & > thead > tr > th {
      font-size: 0.9rem;
    }
  }
}

.cash-item {
  background-color: inherit;
  text-align: center;
  font-size: 1.2rem;

  & > td {
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  &:last-child > td {
    border-bottom: none;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.cash-item__type-header,
.cash-item-type {
  min-width: 120px;
  text-transform: capitalize;
}

.cash-item__amount-header,
.cash-item-amount {
  min-width: 145px;
}

.cash-item__date-header,
.cash-item-date {
  min-width: 135px;
}

.cash-item__memo-header {
  min-width: 70px;
}

@mixin cash-item-memo {
  & svg {
    width: 22px;
    height: 22px;
    margin-top: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }

  & svg:hover {
    color: #66ccb5;
    transform: translateY(-4px);
  }
}

.cash-item > .cash-item-memo {
  @include cash-item-memo();
}

.cash-item > .cash-item-memo-empty {
  @include cash-item-memo();

  & svg {
    color: $light-gray;
    cursor: not-allowed;
  }

  & svg:hover {
    color: $light-gray;
    transform: none;
  }
}

.cash-item > .cash-item-edit {
  width: 80px;
  padding: 0.5em 1.2em 0.5em 0;

  & > button {
    font-size: 0.9rem;
    width: 4em;
  }
}

td.cash-item-delete {
  width: 100px;
  padding: 0.5em 0.8em 0.5em 0;

  & > button {
    font-size: 0.9rem;
  }
}

.notice-no-cash {
  margin: 2em auto;

  & > p {
    padding: 0.5em;
    font-size: 2rem;
    text-align: center;

    @media screen and (min-width: 426px) and (max-width: 600px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
}
