.cash-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: $max-width;

  & > button {
    font-size: 1.5rem;
    width: 23em;
    margin: 0 auto;
  }

  @media screen and (min-width: 551px) and (max-width: 768px) {
    & > button {
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 426px) and (max-width: 550px) {
    & > button {
      font-size: 1.2rem;
      width: 19em;
    }
  }

  @media screen and (max-width: 425px) {
    & > button {
      font-size: 1.2rem;
      width: 15em;
    }
  }
}

.cash-total-amount {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border: 1px solid $blue-white;
  background-color: $white;
  box-shadow: 4px 5px 2px $dark-gray;
  border-radius: 0.3em;
  margin: 2em auto;
  padding: 1rem;
  width: 70vw;
  max-width: 700px;
  color: $blue-black;
  text-align: center;

  & > span:first-child {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.7rem;
  }
}

.cash-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 2em auto 5em;
  padding: 3.5em 1.3em 2em;
  width: 80vw;
  max-height: 450px;
  max-width: $max-width * 0.55;
  background-color: #f4f6f6;
  color: #202425;
  border-radius: 0.3em;
  box-shadow: 2px 3px 3px #a7a7a7;
}

.cash-items__header {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: $card-border-radius;
  top: -13px;
  left: 25px;
  color: $white;
  padding: 0.5em 0.8em;
  background: linear-gradient(60deg, #767787, #5e5f6b);
  box-shadow: 0 12px 20px -10px rgba(106, 107, 121, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(106, 107, 121, 0.2);

  @media screen and (max-width: 570px) {
    font-size: 1.2rem;
    left: initial;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.1rem;
  }
}

.cash-table-wrapper {
  width: 100%;
  overflow: auto;
  max-height: 362px;
}

.cash-table {
  background-color: inherit;
  width: 100%;
  border-collapse: collapse;

  & > thead > tr > th {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2em 0.2em 0.7em;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3b434c;
    position: sticky;
    top: 0px;
    background-color: #f4f6f6;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    & > thead > tr > th {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    & > thead > tr > th {
      font-size: 0.9rem;
    }
  }
}

.cash-item {
  background-color: inherit;
  text-align: center;
  font-size: 1.2rem;

  & > td {
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  &:last-child > td {
    border-bottom: none;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.cash-item__type-header,
.cash-item-type {
  min-width: 120px;
  text-transform: capitalize;
}

.cash-item__amount-header,
.cash-item-header {
  min-width: 145px;
}

.cash-item__date-header,
.cash-item-date {
  min-width: 135px;
}

.cash-item-edit {
  width: 80px;
  padding-right: 0.7em;

  & > button {
    font-size: 1.1rem;
  }
}

.cash-item-delete {
  width: 100px;

  & > button {
    font-size: 1.1rem;
  }
}

.no-cash-notice {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2em;
  color: $main-color;

  @media screen and (max-width: 550px) {
    font-size: 2.4rem;
  }
}
