.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2em;
  border-radius: $card-border-radius;
  text-align: center;
  background-color: $card-bg-color;
  box-shadow: 2px 3px 3px $dark-gray;

  @media screen and (max-width: 570px) {
    & > h1 {
      margin-top: 2em;
    }
  }

  @media screen and (max-width: 450px) {
    & > h1 {
      font-size: 1.7rem;
    }
  }
}

.dashboard-pie-charts {
  display: flex;
  justify-content: center;
  width: 100%;

  & > div {
    width: 47%;
  }

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    justify-content: initial;
    align-items: center;

    & > div {
      width: 97%;
    }
  }

  @media screen and (max-width: 699px) {
    & > div {
      width: 95%;
    }
  }
}

.chart-container > h1 {
  color: $card-color;
  font-weight: 400;
}

.chart-wrapper {
  position: relative;
  padding: 1rem;

  @media screen and (min-width: 1440px) {
    width: 400px;
    height: 400px;
  }

  @media screen and (min-width: 769px) and (max-width: 1439px) {
    width: 430px;
    height: 430px;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    width: 370px;
    height: 370px;
  }

  @media screen and (min-width: 360px) and (max-width: 450px) {
    width: 350px;
    height: 350px;
  }

  @media screen and (max-width: 359px) {
    width: 300px;
    height: 300px;
  }
}

.asset-chart {
  width: 96.2%;
  height: 30em;

  @media screen and (max-width: 768px) {
    width: 97%;
  }

  @media screen and (max-width: 570px) {
    height: 34em;
  }

  @media screen and (max-width: 450px) {
    & > h1 {
      font-size: 1.7rem;
    }
  }
}

.line-chart-wrapper {
  position: relative;
  width: 90%;
  height: 81%;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    width: 98%;
    height: 82%;
  }
}

.pie-chart-icon,
.line-chart-icon {
  width: 4.5em;
  height: 4.5em;
  padding: 0.8em;
  position: absolute;
  top: -15px;
  left: 17px;
  background: linear-gradient(60deg, #96a9c6, #748db4);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 12px 20px -10px rgba(130, 136, 139, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(130, 136, 139, 0.2);

  @media screen and (min-width: 451px) and (max-width: 649px) {
    width: 4em;
    height: 4em;
    padding: 0.7em;
  }

  @media screen and (max-width: 570px) {
    left: initial;
  }

  @media screen and (max-width: 450px) {
    width: 3.7em;
    height: 3.7em;
    padding: 0.7em;
  }
}

.line-chart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, #c8b5a9, #b49b89);

  & > svg {
    width: inherit;
    height: inherit;
  }
}

.notice-chart-no-display {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--highlight-color);
}

.chart-content {
  display: flex;

  @media screen and (max-width: 675px) {
    flex-direction: column;
    align-items: center;
  }
}

.pie-chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $card-color;
  margin: 0.6em;
  max-height: 350px;
  overflow: auto;
}

.pie-chart-legend-item {
  display: flex;
  align-items: center;
  margin: 0.4em 0.6em;
}

.chart-legend-cash {
  color: #bd07c0;
  text-transform: uppercase;
}

.pie-chart-legend-color {
  width: 28px;
  height: 14px;
  margin-right: 0.35em;
}

.pie-chart-legend-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > span:first-child {
    font-weight: 600;
    width: 10em;
    margin-right: 0.3em;
    text-align: left;
  }
}
