.footer {
  background-color: #26313f;
  color: #b9bac4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 1.5em 0;
}

.footer-copyright {
  margin-bottom: 1.2em;
  font-weight: 700;
}
