.footer {
  background-color: #26313f;
  color: #b9bac4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 2em 0;

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.1rem;
  }
}

.footer-copyright {
  margin-bottom: 1.2em;
  font-weight: 700;
}
