.modal-backdrop {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  max-width: fit-content;
  left: 0;
  right: 0;
  margin: 6vh auto;
  padding: 3em 4em;
  background-color: white;
  overflow: auto;
  border-radius: $card-border-radius;
  box-shadow: 4px 5px 5px $black;
  max-height: 91vh;

  @media screen and (max-width: 768px) {
    padding: 2.6em 3em;
  }

  @media screen and (max-width: 450px) {
    padding: 2em;
  }
}

.modal-content-bg-dark {
  background-color: var(--dark-theme-bg-color);
  border: 1px solid var(--darkgray-color);
}

.modal-content-bg-light {
  background-color: var(--light-theme-bg-color);
  border: 1px solid var(--light-dark-color);
}

.close-modal-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  font-size: 2.2em;
  height: 0.85em;
  width: 0.85em;
  border: none;
  outline: none;
  background-color: $white;
  color: darken($dark-gray, 15%);

  &:hover {
    color: $main-color;
  }
}

/* delete confirm modal */
.delete-confirm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 1.5em auto 0;
  font-size: 1.2rem;
  max-width: 600px;

  & > svg {
    width: 115px;
    height: 115px;
    color: $orange;
  }

  & > p {
    margin: 1em 0;
    text-align: center;

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    max-width: 400px;
    font-size: 1.1rem;

    & > svg {
      width: 100px;
      height: 100px;
    }
  }

  @media screen and (min-width: 401px) and (max-width: 600px) {
    max-width: 250px;
    font-size: 1.1rem;

    & > svg {
      width: 90px;
      height: 90px;
    }
  }

  @media screen and(max-width: 400px) {
    max-width: 200px;
    font-size: 1.1rem;

    & > svg {
      width: 80px;
      height: 80px;
    }
  }
}

.delete-confirm-actions {
  display: flex;
  margin-top: 1em;

  & > button {
    width: 5em;
  }

  & > button:first-child {
    margin-right: 1.4em;
  }

  @media screen and (max-width: 768px) {
    & > button {
      width: 5em;
    }
  }
}
