.navbar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: $blue-white;
  color: $blue-black;
  max-width: $max-width;
}

.navbar__main-logo {
  cursor: pointer;
  margin: 1rem;
  width: 200px;
  height: 51px;
}

.navbar-menu {
  position: absolute;
  right: 3em;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu > li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;

  & > svg {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.4em;
  }
}

.navbar-menu__signup:hover,
.navbar-menu__login:hover {
  color: $main-color;
}

.navbar-menu > li + li {
  margin-left: 1.2em;
}

.navbar-menu > .navbar__avatar-container {
  width: 50px;
  height: 50px;
  right: 2em;
  bottom: 2em;
  border: 1px solid $light-gray;
  border-radius: 50%;

  &.profile-dropdown--close:hover {
    box-shadow: 0 0 6px $dark-gray;
  }
}

.navbar__user-name {
  font-size: 1.3rem;
  cursor: default;
}

.navbar__profile-dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $blue-white;
  top: 65px;
  right: 0;
  width: 10.5em;

  &::before {
    content: '';
    right: 0.8em;
    top: -1.05em;
    position: absolute;
    border: 0.53em solid;
    border-color: transparent transparent $main-color;
  }

  & > li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

    & > svg {
      width: 1.3em;
      height: 1.3em;
      margin-right: 0.3em;
    }
  }

  & > li:hover {
    color: $main-color;
  }

  & > li + li {
    border-top: 1px solid #94a6b6;
  }
}

.profile-dropdown--open {
  box-shadow: 0 0 2px 2px $main-color;
  border: 1px solid $main-color;
}
