.navbar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: $nav-bg-color;
  color: #d5dae4;
  max-width: $max-width;
}

.navbar__main-logo {
  cursor: pointer;
  margin: 1em 1em 1em 2em;
  width: 92px;
  height: 60px;
}

.navbar-menu {
  position: absolute;
  right: 3em;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > .navbar__user-name {
    font-size: 1.3rem;
    font-weight: 700;
    cursor: default;

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 769px) {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 500px) {
    right: 2em;
  }
}

.navbar-menu > li a,
.navbar__sign-out {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  cursor: pointer;

  & > svg {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.4em;
  }

  &.navbar-menu__signup,
  &.navbar-menu__login {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.navbar-menu__signup:hover,
.navbar-menu__login:hover {
  color: $main-color;
}

.navbar-menu > li + li {
  margin-left: 1.2em;
}

.navbar-menu > .navbar__avatar-container {
  width: 50px;
  height: 50px;
  right: 2em;
  bottom: 2em;
  border: 1px solid $light-gray;
  border-radius: 50%;
  cursor: pointer;

  &.profile-dropdown--close:hover {
    box-shadow: 0 0 6px $dark-gray;
  }

  @media screen and (max-width: 450px) {
    margin-right: -1.3em;
  }
}

.navbar__bars-icon {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    width: 32px;
    height: 32px;
  }
}

.navbar__mobile {
  position: absolute;
  top: 56px;
  right: -48px;
  z-index: 99;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: $nav-bg-color;

  & > ul {
    list-style-type: none;
    padding: 0 1em;
    margin: 0;
  }

  & > ul a {
    display: flex;
    align-items: center;
    border-top: 1px solid #99a7b5;
    padding: 0.8em 0.7em;
  }

  & svg {
    width: 22px;
    height: 22px;
    margin-right: 0.4em;
  }

  @media screen and (max-width: 500px) {
    right: -31px;
  }
}

.navbar__profile-dropdown {
  position: absolute;
  margin: 0;
  padding: 0 0.8em;
  list-style-type: none;
  background-color: $nav-bg-color;
  top: 65px;
  right: 0;
  width: 16em;
  z-index: 99;

  &::before {
    content: '';
    right: 1em;
    top: -1.05em;
    position: absolute;
    border: 0.53em solid;
    border-color: transparent transparent $main-color;
  }

  & > li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

    & > svg {
      width: 1.3em;
      height: 1.3em;
      margin-right: 0.3em;
    }
  }

  & > li:hover {
    color: $main-color;
  }

  & > li:not(:first-child) + li {
    border-top: 1px solid #94a6b6;
  }

  & > .navbar__user-name-mobile {
    font-size: 1.7rem;
    font-weight: 700;
    color: #10bbc3;

    @media screen and (max-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 769px) {
      display: none;
      border-top: none;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100vw;
    right: -30px;
    padding: 0 1.1em;

    &::before {
      content: '';
      right: 4em;
    }

    & > li {
      padding: 0.9em 0.5em;
    }

    & > li a,
    & .navbar__sign-out {
      font-size: 1.3rem;
    }

    & > li:nth-child(2) {
      border-top: 1px solid #94a6b6;
    }
  }

  @media screen and (max-width: 450px) {
    &::before {
      right: 1.7em;
    }
  }
}

.profile-dropdown--open {
  box-shadow: 0 0 2px 2px $main-color;
  border: 1px solid $main-color;
}
