.portfolio-container {
  display: flex;
  flex-direction: column;
  padding: 4em 1em;
  margin: 0 auto;
  min-height: 100vh;
  max-width: $max-width;

  & > button {
    font-size: 1.5rem;
    width: 23em;
    margin: 0 auto;
  }

  @media screen and (min-width: 551px) and (max-width: 768px) {
    & > button {
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 426px) and (max-width: 550px) {
    & > button {
      font-size: 1.2rem;
      width: 19em;
    }
  }

  @media screen and (max-width: 425px) {
    & > button {
      font-size: 1.2rem;
      width: 15em;
    }
  }
}

.no-portfolio-notice {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2em;
  color: $main-color;

  @media screen and (max-width: 550px) {
    font-size: 2.4rem;
  }
}

.portfolio-list {
  margin: 5em auto;
  padding: 3em 5.5em;
  max-width: $max-width * 0.7;
  max-height: 81vh;
  border: 1px solid $light-gray;
  border-radius: 0.2em;
  overflow-y: auto;

  & > li + li {
    margin-top: 7em;
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {
    padding: 2em 3.5em;
  }

  @media screen and (min-width: 426px) and (max-width: 599px) {
    padding: 1.8em 3em;
  }

  @media screen and(max-width:425px) {
    padding: 1.7em 2.6em;
  }
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3em;
  border-radius: 0.1em;
  width: 60vw;
  max-width: $max-width * 0.5;
  background-color: #fff;
  box-shadow: 2px 3px 2px 3px var(--darkgray-color);

  @media screen and (min-width: 769px) {
    width: 67vw;
  }

  @media screen and (max-width: 599px) {
    width: 50vw;
  }
}

.portfolio-item-name {
  font-size: 2.2rem;
  max-width: 85%;

  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 599px) {
    font-size: 1.5rem;
    max-width: 90%;
  }
}

.portfolio-item-privacy {
  color: $white;
  border-radius: 0.15em;
  padding: 0.2em 0.4em;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 0.1em;

  @media screen and (max-width: 599px) {
    font-size: 0.8rem;
    margin-top: 0.3em;
  }
}

.portfolio--public {
  background-color: #1959c3;
}

.portfolio--private {
  background-color: #0e318a;
}

.portfolio-item-default {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.8em 0;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 1.7rem;
  }

  @media screen and (max-width: 599px) {
    margin: 1em 0;
    font-size: 1.5rem;
  }
}

.portfolio-item-actions {
  margin-top: 0.4em;

  & > button {
    width: 6em;
  }

  & > button + button {
    margin-left: 2em;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;

    & > button + button {
      margin-left: 0;
      margin-top: 1.3em;
    }

    & > button {
      width: 7em;
      font-size: 1.1rem;
    }
  }
}

.pf--default {
  color: $highlight;
  cursor: not-allowed;
}

.pf--not-default {
  color: $dark-gray;
  cursor: pointer;
}

.portfolio-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 2em auto 1em;

  & > button {
    margin-top: 1.5em;
    font-size: 1.4rem;
    width: 20em;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    & > button {
      margin-top: 1.7em;
      width: 13em;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    & > button {
      width: 12em;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    & > button {
      font-size: 1.1rem;
      width: 14em;
      margin-top: 2em;
    }
  }

  @media screen and (max-width: 384px) {
    left: -3vw;
  }

  @media screen and (max-width: 350px) {
    left: -8vw;
  }

  @media screen and (max-width: 324px) {
    left: -12vw;
  }
}

.portfolio-form-field {
  font-size: 1.6rem;
  padding: 0.5em;
  border: 1px solid $light-gray;
  outline: none;
  border-radius: 0.2em;
  transition: all 0.2s ease;
  width: 27em;
  background: transparent;
  position: relative;
  z-index: 1;

  &:focus {
    box-shadow: 0 0 0 2px $form-focus;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    font-size: 1.5rem;
    width: 20em;
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    font-size: 1.3rem;
    width: 21em;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
    width: 13.7em;
  }

  @media screen and (max-width: 425px) {
    font-size: 1.2rem;
    width: 13em;
  }
}

.portfolio-form-field-error {
  box-shadow: 0 0 0 2px $danger;

  &:focus {
    box-shadow: 0 0 0 2px $danger;
  }
}

.portfolio-form-label {
  position: absolute;
  top: 15px;
  left: 10px;
  color: darken($light-gray, 13%);
  font-size: 1.6rem;
  z-index: 0;
  transition: all 0.25s ease;

  .portfolio-form-field:focus + &,
  .portfolio-form-field[data-is-empty='false'] + & {
    top: -30px;
    left: 2px;
    color: darken($form-focus, 12%);
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    top: 13px;
    font-size: 1.3rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.2rem;
    top: 12px;
    left: 7px;

    .portfolio-form-field:focus + &,
    .portfolio-form-field[data-is-empty='false'] + & {
      top: -24px;
      color: darken($form-focus, 12%);
    }
  }
}

.portfolio-form-field:focus + .portfolio-form-label-error {
  color: $danger;
}

.portfolio-privacy-buttons {
  display: flex;
  width: 100%;
  margin-top: 1em;
}

.pf-privacy-btn {
  display: flex;
  align-items: center;
  padding: 0.4em 0.6em;
  font-size: 1.2rem;
  border-radius: 0.3em;
  border: none;
  outline: none;
  box-shadow: 1px 1px 4px #000000;
  cursor: pointer;

  & > svg {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.3em;
  }

  &:last-child {
    margin-left: 1em;
  }

  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 425px) {
  }
}

.pf-privacy-checked {
  background: linear-gradient($form-focus, #0d505e);
  color: $white;
}

.pf-add-btn {
  color: var(--white-color);
  width: 100px;
  background-color: #1dc956;
  border-bottom: 3px solid #2f8e4e;
  -webkit-box-shadow: inset 0 -3px #2f8e4e;
  box-shadow: inset 0 -3px #2f8e4e;
}

.pf-add-btn:hover {
  background-color: var(--dark-green-color);
}

.pf-edit-btn {
  color: var(--white-color);
  background-color: #f8803b;
  border-bottom: 3px solid var(--dark-orange-color);
  box-shadow: inset 0 -3px var(--dark-orange-color);
}

.pf-edit-btn:hover {
  background-color: var(--dark-orange-color);
}

.notice-pf-name-error {
  position: absolute;
  bottom: -29px;
  font-size: 1.1rem;
  color: $danger;
}
