.portfolio-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: calc(100vh - 155px - 91px);
  max-width: $max-width;

  & > button {
    font-size: 1.4rem;
    width: 15em;
    margin: 1em auto 2em;
  }

  @media screen and (min-width: 551px) and (max-width: 768px) {
    & > button {
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 426px) and (max-width: 550px) {
    & > button {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 425px) {
    & > button {
      font-size: 1rem;
      width: 10em;
    }
  }
}

.portfolios-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 88vw;
  max-width: $max-width * 0.75;
  margin: 1em auto;

  & > button {
    width: 225px;
  }

  @media screen and (max-width: 768px) {
    justify-content: center;
    margin: 1em auto 4em;

    & > button {
      font-size: 0.9rem;
      width: 220px;
    }
  }

  @media screen and (max-width: 375px) {
    & > button {
      font-size: 0.8rem;
      width: 200px;
    }
  }
}

.portfolios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 1em auto;
  padding: 3.5em 1.3em 2em;
  width: 88vw;
  max-height: 450px;
  max-width: $max-width * 0.75;
  background-color: $card-bg-color;
  color: #202425;
  border-radius: $card-border-radius;
  box-shadow: 2px 3px 3px #a7a7a7;
}

.portfolios-container__header {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: $card-border-radius;
  top: -13px;
  left: 25px;
  color: $white;
  padding: 0.4em 0.7em;
  background: linear-gradient(60deg, #767787, #5e5f6b);
  box-shadow: 0 12px 20px -10px rgba(106, 107, 121, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(106, 107, 121, 0.2);

  @media screen and (max-width: 570px) {
    font-size: 1.1rem;
    left: initial;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.portfolios-table-wrapper {
  width: 100%;
  overflow: auto;
  max-height: 362px;
}

.notice-empty-portfolio-list {
  margin: 2em auto;

  & > p {
    padding: 0.5em;
    font-size: 2rem;
    text-align: center;

    @media screen and (min-width: 426px) and (max-width: 600px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
}

.portfolio-table {
  background-color: inherit;
  width: 100%;
  border-collapse: collapse;

  & > thead > tr > th {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2em 0.2em 0.7em;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3b434c;
    position: sticky;
    top: 0px;
    background-color: $card-bg-color;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    & > thead > tr > th {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    & > thead > tr > th {
      font-size: 0.9rem;
    }
  }
}

.portfolio-item {
  background-color: inherit;
  text-align: center;
  font-size: 1.2rem;

  & > td {
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  &:last-child > td {
    border-bottom: none;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.portfolio-item__name-header,
.portfolio-item-name {
  min-width: 120px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.7em !important;
}

.portfolio-item__privacy-header,
.portfolio-item-privacy {
  min-width: 145px;
}

.portfolio-item__default-header,
.portfolio-item-default {
  min-width: 175px;
}

.portfolio-item-default > button {
  font-size: 0.9rem;
  padding: 0.5em 0;
  width: 8em;
}

.portfolio-item__default-text {
  color: #f0616f;
  font-weight: 600;
}

.portfolio-item > .portfolio-item-edit {
  width: 80px;
  padding-right: 1em;

  & > button {
    font-size: 0.9rem;
  }
}

.portfolio-item > .portfolio-item-delete {
  width: 100px;
  padding-right: 1em;

  & > button {
    font-size: 0.9rem;
  }
}

.portfolio-item-detail {
  width: 90px;

  & > button {
    font-size: 0.9rem;
  }
}

.portfolio-privacy-icon {
  width: 18px;
  height: 18px;
  margin-left: 0.2em;
  margin-bottom: -0.1em;
}

.portfolio-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 2em auto 1em;

  & > button {
    margin-top: 2em;
    font-size: 1rem;
    width: 12em;
  }

  @media screen and (max-width: 768px) {
    & > button {
      width: 9.5em;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    & > button {
      font-size: 1rem;
      width: 9em;
      margin-top: 2.5em;
    }
  }

  @media screen and (max-width: 450px) {
    & > button {
      font-size: 0.9rem;
    }
  }
}

.portfolio-form-field {
  font-size: 1.3rem;
  padding: 0.3em;
  border: 1px solid $light-gray;
  outline: none;
  border-radius: 0.2em;
  transition: all 0.2s ease;
  width: 70vw;
  max-width: $max-width * 0.5;
  background: transparent;
  position: relative;
  z-index: 1;

  &:focus {
    box-shadow: 0 0 0 2px $form-focus;
    background-color: #f4f9ff;
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

.portfolio-form-field-error {
  box-shadow: 0 0 0 2px $danger;

  &:focus {
    box-shadow: 0 0 0 2px $danger;
  }
}

.portfolio-form-label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: darken($light-gray, 13%);
  font-size: 1.3rem;
  z-index: 0;
  transition: all 0.25s ease;

  .portfolio-form-field:focus + &,
  .portfolio-form-field[data-is-empty='false'] + & {
    top: -30px;
    left: 2px;
    color: darken($form-focus, 12%);
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    top: 7px;
    font-size: 1.1rem;

    .portfolio-form-field:focus + &,
    .portfolio-form-field[data-is-empty='false'] + & {
      top: -23px;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 1rem;
    top: 7px;

    .portfolio-form-field:focus + &,
    .portfolio-form-field[data-is-empty='false'] + & {
      top: -23px;
    }
  }
}

.portfolio-form-field:focus + .portfolio-form-label-error {
  color: $danger;
}

.portfolio-privacy-buttons {
  display: flex;
  width: 100%;
  margin-top: 1em;
}

.pf-privacy-btn {
  display: flex;
  align-items: center;
  padding: 0.4em 0.6em;
  font-size: 1rem;
  border-radius: 0.1em;
  border: none;
  outline: none;
  box-shadow: 1px 1px 4px $dark-gray;
  cursor: pointer;

  & > svg {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
  }

  &:last-child {
    margin-left: 1em;
  }

  @media screen and (max-width: 600px) {
    font-size: 0.9rem;

    & > svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}

.pf-privacy-checked {
  background-color: #3389ca;
  color: $white;
  font-weight: 700;
}

.notice-pf-name-error {
  position: absolute;
  bottom: -29px;
  font-size: 1.1rem;
  color: $danger;
}

.current-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  font-size: 1.3rem;

  & > span:last-child {
    margin-left: 0.2em;
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }
}
