.stock-main {
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto;
}

.stocks-container {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 600px;
  border: 1px solid $blue-white;
  border-radius: 0.1em;
  overflow-y: auto;
}

.stocks-btn-container {
  display: flex;
  justify-content: center;
  margin: 3em auto;

  & > button {
    width: 9em;
  }

  & > button:first-child {
    margin-right: 5em;
  }

  @media screen and (max-width: 599px) {
    flex-direction: column;
    align-items: center;

    & > button:first-child {
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}

.stock-item {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 11em;
  min-height: 13em;
  max-width: $max-width;
  margin: 1.7em;
  color: $blue-black;
  background-color: $white;
  text-align: center;
  border: 1px solid #e4e7ff;
  border-radius: 0.2em;
  padding: 0.5em;
  cursor: pointer;
  transition: background-color ease 200ms;
  box-shadow: 4px 5px 3px $dark-gray;

  &:hover {
    background-color: $light-gray;
  }
}

.stock-item-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
  color: #3e2148;
}

.stock-item-ticker {
  font-size: 2.2rem;
  font-weight: 700;
}

.stock-item-name {
  font-size: 1.3rem;
}

.stock-item-realtime {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.stock-item-avgPrice,
.stock-item-quantity {
  margin-bottom: 0.6em;
}

.stock-item-daily-pl,
.stock-item-overall-pl {
  margin: 0.25em 0;
}

.btn-delete-transaction {
  margin: 25px 0 0 0;
  width: 100%;
  color: var(--white-color);
  background: #fc1529;
  border-bottom: 3px solid var(--dark-red-color);
  -webkit-box-shadow: inset 0 -3px var(--dark-red-color);
  box-shadow: inset 0 -3px var(--dark-red-color);
}

.btn-delete-transaction:hover {
  background-color: var(--dark-red-color);
}

/* realized stocks info */
.realized-stock-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: $max-width;
}

.total-realized-value {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  border: 1px solid $blue-white;
  background-color: $white;
  box-shadow: 4px 5px 2px $dark-gray;
  border-radius: 0.25em;
  padding: 1em;
  width: 70vw;
  max-width: 700px;
  margin: 0.5em auto 1.5em;
  text-align: center;

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.7rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.5rem;
  }
}

.total-realized-value > span:first-child {
  margin-bottom: 1rem;
}

.realized-stocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 1280px;
  max-height: 600px;
  overflow-y: scroll;
  margin: 1em auto 5em;
  padding: 0 1em;
  border: 1px solid $blue-white;

  @media screen and (min-width: 1000px) and (max-width: 1299px) {
    width: 956px;
  }

  @media screen and (min-width: 769px) and (max-width: 999px) {
    width: 649px;
  }

  @media screen and (min-width: 542px) and (max-width: 768px) {
    width: 534px;
  }

  @media screen and (max-width: 541px) {
    width: 283px;
  }
}

.realized-stock-item {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
  padding: 0.6em 0.3em;
  border-radius: 0.2em;
  font-size: 1.6rem;
  color: $blue-black;
  align-items: center;
  border: 1px solid $blue-white;
  background-color: $white;
  box-shadow: 2px 3px 2px $dark-gray;
  width: 10em;
  text-align: center;

  & > div + div {
    margin-top: 0.6em;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.realized-stock-price {
  display: flex;
  align-items: center;

  & > span > svg {
    width: 20px;
    height: 23px;
    margin-left: 0.1em;

    @media screen and (max-width: 768px) {
      width: 19px;
      height: 21px;
    }
  }
}

.realized-stock-ticker {
  text-transform: uppercase;
  font-weight: 700;
}

.realized-stock-return {
  display: flex;
  align-items: center;

  & > span > svg {
    width: 20px;
    height: 23px;
    margin-left: 0.1em;

    @media screen and (max-width: 768px) {
      width: 19px;
      height: 21px;
    }
  }

  & > span {
    color: $blue-black;
  }
}

.total-return-positive {
  color: #1bbb70;
}

.total-return-positive--border {
  border-bottom: 0.4em solid #2ead76;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #2ead76;
    border-bottom: 1px solid $blue-white;
  }
}

.total-return-negative {
  color: #fd142c;
}

.total-return-negative--border {
  border-bottom: 0.4em solid #fd142c;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #fd142c;
    border-bottom: 1px solid $blue-white;
  }
}

.total-return-zero {
  color: #9e9e9e;
}

.total-return-zero--border {
  border-bottom: 0.4em solid #9e9e9e;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #9e9e9e;
    border-bottom: 1px solid $blue-white;
  }
}
