.stock-main {
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto 5em;
}

.stocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 5em auto 3em;
  padding: 3.5em 1.3em 2em;
  width: 88vw;
  max-width: $max-width * 0.75;
  max-height: 450px;
  background-color: #f4f6f6;
  color: #202425;
  border-radius: 0.3em;
  box-shadow: 2px 3px 3px #a7a7a7;
}

.stocks-table-wrapper {
  width: 100%;
  overflow: auto;
  max-height: 362px;
}

.stocks-container__header {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: $card-border-radius;
  top: -13px;
  left: 17px;
  color: $white;
  padding: 0.5em 0.8em;
  background: linear-gradient(60deg, #767787, #5e5f6b);
  box-shadow: 0 12px 20px -10px rgba(106, 107, 121, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(106, 107, 121, 0.2);

  @media screen and (max-width: 570px) {
    font-size: 1.2rem;
    left: initial;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.1rem;
  }
}

.stocks-table {
  background-color: inherit;
  width: 100%;
  border-collapse: collapse;

  & > thead > tr > th {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2em 0.2em 0.7em;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3b434c;
    top: 0px;
    position: sticky;
    background-color: #f4f6f6;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    & > thead > tr > th {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    & > thead > tr > th {
      font-size: 0.9rem;
    }
  }
}

.stocks-btn-container {
  display: flex;
  justify-content: center;
  margin: 3em auto;

  & > button {
    width: 9em;
  }

  & > button:first-child {
    margin-right: 5em;
  }

  @media screen and (max-width: 599px) {
    flex-direction: column;
    align-items: center;

    & > button:first-child {
      margin-right: 0;
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: 500px) {
    & > button {
      font-size: 1.2rem;
    }
  }
}

.stock-item {
  background-color: inherit;
  text-align: center;
  font-size: 1.2rem;

  & > td {
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  &:last-child > td {
    border-bottom: none;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

@mixin stock-item__ticker {
  min-width: 100px;
  overflow-x: auto;
  color: #2662e8;
}

.stock-item--return-positive {
  color: #089454;
}

.stock-item--return-negative {
  color: #eb0f29;
  margin-left: -8px !important;
}

.stock-item--return-zero {
  color: #525252;
}

.stock-item__ticker-header {
  @include stock-item__ticker;
}

.stock-item__ticker {
  @include stock-item__ticker;
  font-weight: 600;
  & > a:hover {
    text-decoration: underline;
  }
}

.stock-item__realtime-header,
.stock-item__realtime {
  min-width: 124px;
  overflow-x: auto;
}

.stock-item__change-header,
.stock-item__change {
  min-width: 130px;
  overflow-x: auto;
  padding-left: 9px !important;
}

.stock-item__cost-header,
.stock-item__cost {
  min-width: 124px;
  overflow-x: auto;
}

.stock-item__shares-header,
.stock-item__shares {
  min-width: 110px;
  overflow-x: auto;
}

.stock-item__mv-header,
.stock-item__mv {
  min-width: 200px;
  overflow-x: auto;
}

.stock-item__dgain-header,
.stock-item__dgain {
  min-width: 230px;
  overflow-x: auto;
  padding-left: 9px !important;
}

.stock-item__tgain-header,
.stock-item__tgain {
  min-width: 250px;
  overflow-x: auto;
  padding-left: 9px !important;
}

/* realized info */
.realized-stock-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: $max-width;
}

.total-realized-value {
  display: flex;
  font-size: 1.7rem;
  flex-direction: column;
  border: 1px solid $blue-white;
  background-color: #edeff2;
  box-shadow: 3px 4px 3px $dark-gray;
  border-radius: $card-border-radius * 2;
  padding: 0.7em 0.6em;
  width: 70vw;
  max-width: 700px;
  margin: 0.7em auto 1.5em;
  text-align: center;

  @media screen and (max-width: 1024px) {
    box-shadow: 2px 3px 3px $dark-gray;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.3rem;
  }
}

.total-realized-value > span:first-child {
  margin-bottom: 1rem;
}

.total-return-positive--border {
  border-bottom: 0.4em solid #009e54;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #009e54;
    border-bottom: 1px solid $blue-white;
  }
}

.total-return-negative--border {
  border-bottom: 0.4em solid #eb142a;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #eb142a;
    border-bottom: 1px solid $blue-white;
  }
}

.total-return-zero--border {
  border-bottom: 0.4em solid #525252;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #525252;
    border-bottom: 1px solid $blue-white;
  }
}

.realized-stocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 3.5em auto 5em;
  padding: 3.5em 1.3em 2em;
  width: 80vw;
  max-height: 450px;
  max-width: $max-width * 0.6;
  background-color: #f4f6f6;
  color: #202425;
  border-radius: 0.3em;
  box-shadow: 2px 3px 3px #a7a7a7;
}

.realized-stocks__header {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: $card-border-radius;
  top: -13px;
  left: 25px;
  color: $white;
  padding: 0.5em 0.8em;
  background: linear-gradient(60deg, #767787, #5e5f6b);
  box-shadow: 0 12px 20px -10px rgba(106, 107, 121, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(106, 107, 121, 0.2);

  @media screen and (max-width: 570px) {
    font-size: 1.1rem;
    left: initial;
  }
}

.realized-stocks-table-wrapper {
  width: 100%;
  overflow: auto;
  max-height: 362px;
}

.realized-stocks-table {
  background-color: inherit;
  width: 100%;
  border-collapse: collapse;

  & > thead > tr > th {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2em 0.2em 0.7em;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3b434c;
    position: sticky;
    top: 0px;
    background-color: #f4f6f6;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    & > thead > tr > th {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    & > thead > tr > th {
      font-size: 0.9rem;
    }
  }
}

.realized-stock-item {
  background-color: inherit;
  text-align: center;
  font-size: 1.2rem;

  & > td {
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  &:last-child > td {
    border-bottom: none;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.realized-stock-price {
  display: flex;
  align-items: center;
}

.realized-stock-item__ticker-header {
  min-width: 150px;
}
.realized-stock-item__ticker {
  min-width: 150px;
  font-weight: 700;
}

.realized-stock-item__price-header,
.realized-stock-item__price {
  min-width: 180px;
}

.realized-stock-item__shares-header,
.realized-stock-item__shares-header {
  min-width: 160px;
}

.realized-stock-item__return-header,
.realized-stock-item__return {
  min-width: 230px;
  overflow-x: auto;
  padding-left: 9px !important;
}
