.stock-main {
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto 5em;
}

.stocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 5em 5em 3em;
  padding: 3.5em 1.3em 1em;
  max-height: 650px;
  background-color: #f4f6f6;
  color: #202425;
  border-radius: 0.3em;

  @media screen and (min-width: 501px) and (max-width: 768px) {
    margin: 5em 2.6em 3em;
  }

  @media screen and (max-width: 500px) {
    margin: 5em 2.2em 3em;
  }

  @media screen and (max-width: 368px) {
    margin: 5em 1.6em 3em;
  }
}

.stocks-table-wrapper {
  width: 100%;
  overflow: auto;
}

.stocks-container__header {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: $card-border-radius;
  top: -13px;
  left: 17px;
  color: $white;
  padding: 0.5em 0.8em;
  background: linear-gradient(60deg, #767787, #5e5f6b);
  box-shadow: 0 12px 20px -10px rgba(106, 107, 121, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(106, 107, 121, 0.2);

  @media screen and (max-width: 570px) {
    font-size: 1.2rem;
    left: initial;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.1rem;
  }
}

.stocks-table {
  background-color: inherit;
  width: 100%;
  border-collapse: collapse;

  & > thead > tr > th {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.2em 0.2em 0.7em;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3b434c;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    & > thead > tr > th {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    & > thead > tr > th {
      font-size: 0.9rem;
    }
  }
}

.stocks-btn-container {
  display: flex;
  justify-content: center;
  margin: 3em auto;

  & > button {
    width: 9em;
  }

  & > button:first-child {
    margin-right: 5em;
  }

  @media screen and (max-width: 599px) {
    flex-direction: column;
    align-items: center;

    & > button:first-child {
      margin-right: 0;
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: 500px) {
    & > button {
      font-size: 1.2rem;
    }
  }
}

.stock-item {
  background-color: inherit;
  text-align: center;
  font-size: 1.2rem;

  & > td {
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  &:last-child > td {
    border-bottom: none;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.stock-item__ticker-header,
.stock-item__ticker {
  min-width: 100px;
  overflow-x: auto;
  color: #2662e8;
}

.stock-item__realtime-header,
.stock-item__realtime {
  min-width: 124px;
  overflow-x: auto;
}

.stock-item__change-header,
.stock-item__change {
  min-width: 130px;
  overflow-x: auto;
}

.stock-item__cost-header,
.stock-item__cost {
  min-width: 124px;
  overflow-x: auto;
}

.stock-item__shares-header,
.stock-item__shares {
  min-width: 110px;
  overflow-x: auto;
}

.stock-item__mv-header,
.stock-item__mv {
  min-width: 200px;
  overflow-x: auto;
}

.stock-item__dgain-header,
.stock-item__dgain {
  min-width: 230px;
  overflow-x: auto;
}

.stock-item__tgain-header,
.stock-item__tgain {
  min-width: 250px;
  overflow-x: auto;
}

/* realized info */
.realized-stock-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: $max-width;
}

.total-realized-value {
  display: flex;
  font-size: 1.7rem;
  flex-direction: column;
  border: 1px solid $blue-white;
  background-color: $white;
  box-shadow: 3px 4px 3px $dark-gray;
  border-radius: 0.3em;
  padding: 0.7em 0.6em;
  width: 70vw;
  max-width: 700px;
  margin: 0.7em auto 1.5em;
  text-align: center;

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.3rem;
  }
}

.total-realized-value > span:first-child {
  margin-bottom: 1rem;
}

.realized-stocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  max-height: 650px;
  overflow-y: scroll;
  margin: 2em 5em;
  padding: 1em;
  border-radius: 0.3em;
  background-color: #dde6ea;

  @media screen and (max-width: 550px) {
    margin: 2em;
  }
}

.realized-stock-item {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
  padding: 0.6em 0.3em;
  border-radius: 0.2em;
  font-size: 1.4rem;
  color: $blue-black;
  align-items: center;
  border: 1px solid $blue-white;
  background-color: $white;
  box-shadow: 2px 3px 2px $dark-gray;
  width: 10em;
  text-align: center;

  & > div + div {
    margin-top: 0.6em;
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.2rem;
  }
}

.realized-stock-price {
  display: flex;
  align-items: center;
}

.realized-stock-ticker {
  color: #3e2148;
  text-transform: uppercase;
  font-weight: 700;
}

.realized-stock-return {
  display: flex;
  align-items: center;

  & > span {
    color: $blue-black;
  }
}

.total-return-positive {
  color: #1bbb70;
}

.total-return-positive--border {
  border-bottom: 0.4em solid #2ead76;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #2ead76;
    border-bottom: 1px solid $blue-white;
  }
}

.total-return-negative {
  color: #fd142c;
}

.total-return-negative--border {
  border-bottom: 0.4em solid #fd142c;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #fd142c;
    border-bottom: 1px solid $blue-white;
  }
}

.total-return-zero {
  color: #9e9e9e;
}

.total-return-zero--border {
  border-bottom: 0.4em solid #9e9e9e;

  @media screen and (max-width: 1024px) {
    border-left: 0.5em solid #9e9e9e;
    border-bottom: 1px solid $blue-white;
  }
}
