$primary: #17a2b8;
$light-dark: #393a3b;
$blue-black: #273542;
$black: #000000;
$white: #ffffff;
$main-color: #38b875;
$main-bg-color: #d3d5d9;
$card-bg-color: #edeff2;
$card-color: #3a4454;
$blue-white: #e8f0fe;
$warning: #ce8500;
$danger: #ff4757;
$success: #23ad5c;
$orange: #ff9252;
$light-gray: #cccccc;
$dark-gray: #a7a7a7;
$highlight: #f0616f;
$form-focus: #0a687b;
