@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url('../../fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: url('../../fonts/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 600;
  src: url('../../fonts/Oswald-SemiBold.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: url('../../fonts/Oswald-Bold.ttf');
}
