@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../../fonts/NunitoSans-Italic.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-style: italic;
  src: url('../../fonts/NunitoSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../../fonts/NunitoSans-BoldItalic.ttf');
}
