$max-width: 1920px;
$card-border-radius: 1px;

@mixin main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-width;
  min-height: calc(100vh - 155px - 91px);
}
